<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="StudyAutoTest" verbose="1">
    <test name="Run on Chrome">
        <!--<packages>
            <package name="platformMobile"/>
        </packages>-->
        <classes>
<class name="platformMobile.Mobile_01_User"/>
            <class name="platformMobile.Mobile_02_Payment"/>
</classes>
    </test>
</suite>

